<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1.0"
      name="viewport"
    />

    <title>Patient Profile</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link
      href="../assets/css/patientprofile.css"
      rel="stylesheet"
    />
    <link href="../assets/css/chat.css" rel="stylesheet" />
  </head>

  <body>
    <main id="main">
      <div class="container">
        <!--Navigation Side Bar-->
        <div class="navigation">
          <ul>
            <li>
              <a href="index.html">
                <span class="title">MedCore</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon"
                  ><ion-icon name="bar-chart-outline"></ion-icon
                ></span>
                <span class="nav-items">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="Appointment">
                <span class="icon"
                  ><ion-icon name="time"></ion-icon
                ></span>
                <span class="nav-items">Appointment</span>
              </a>
            </li>

            <li>
              <a href="Chat_bots">
                <span class="icon"
                  ><ion-icon name="megaphone-outline"></ion-icon
                ></span>
                <span class="nav-items">Help</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="main">
          <div class="topbar">
            <div class="toggle">
              <ion-icon name="menu"></ion-icon>
            </div>
            <!--Search Bar-->
            <div class="search">
              <label>
                <input type="text" placeholder="Search Here" />
                <ion-icon name="search"></ion-icon>
              </label>
            </div>
            <div class="user">
              <img
                src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmFuZG9tJTIwcGVvcGxlfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
              />
            </div>
          </div>

          <!-- Data List-->
          <div class="details">
            <div class="recentBill">
              <div class="cardHeader">
                <h2>Help</h2>
              </div>
              <div
                id="room_wrapper"
                style="
                  text-align: center;
                  border: 2px solid #0b0b0b;
                  border-radius: 3px;
                  width: 400px;
                  padding: 20px;
                  margin-left: 34%;
                  margin-top: 5%;
                "
              >
                <input
                  type="text"
                  id="uname"
                  placeholder="Your Name"
                  autocomplete="Off"
                  style="height: 30px; padding: 5px"
                /><br />
                <input
                  type="text"
                  id="uroom"
                  placeholder="Room Name"
                  autocomplete="Off"
                  style="
                    height: 30px;
                    padding: 5px;
                    margin-top: 10px;
                  "
                /><br /><br />
                <input
                  type="submit"
                  value="Create Room"
                  id="submitmsg"
                  class="room"
                />
              </div>

              <div id="wrapper" style="display: none">
                <div id="menu">
                  <p class="welcome">
                    Welcome, <b id="userName"></b>
                  </p>
                </div>

                <div id="chatbox">
                  <ul id="messages"></ul>
                </div>

                <form>
                  <input
                    name="usermsg"
                    type="text"
                    id="usermsg"
                    autocomplete="Off"
                    required
                  />
                  <input
                    name="submitmsg"
                    type="submit"
                    id="submitmsg"
                    value="Send"
                  />
                </form>
              </div>
            </div>
            <!--Customer List-->
          </div>
        </div>
      </div>
      <!--  -->
      <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="./app.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        crossorigin="anonymous"
      ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
      <script>
        let toggle = document.querySelector(".toggle")
        let navigation = document.querySelector(".navigation")
        let main = document.querySelector(".main")

        toggle.onclick = function () {
          navigation.classList.toggle("active")
          main.classList.toggle("active")
        }

        let list = document.querySelectorAll(".navigation li")
        function activeLink() {
          list.forEach((item) =>
            item.classList.remove("hovered")
          )
          this.classList.add("hovered")
        }
        list.forEach((item) =>
          item.addEventListener("mouseover", activeLink)
        )
      </script>

      <script>
        $(".room").click(function () {
          if (
            $("#uname").val() != "" &&
            $("#uroom").val() != ""
          ) {
            $("#wrapper").show()
            $("#room_wrapper").hide("slow")
            userName = $("#uname").val()
            room = $("#uroom").val()

            //let userName = prompt("What's your name");
            //let room = prompt("Room name");

            $("#userName").text(userName)

            let ID = ""
            var socket = io()
            //send event that user has joined room
            socket.emit("join room", {
              username: userName,
              roomName: room,
            })

            //receive data from server.
            socket.on("send data", (data) => {
              ID = data.id //ID will be used later
              console.log(" my ID:" + ID)
            })

            $("#usermsg").focus()
            //when form is submitted, capture the input value and then send it to server
            document
              .getElementsByTagName("form")[0]
              .addEventListener("submit", function (event) {
                event.preventDefault()
                socket.emit("chat message", {
                  value:
                    document.getElementById("usermsg").value,
                  user: userName,
                })
                document.getElementById("usermsg").value = ""
              })

            // Picks up the data emitted by the server and displays the message to the webpage
            socket.on("chat message", (data) => {
              console.log(data.data.user + ": " + data.id)
              displayMessage(data)
            })

            function displayMessage(data) {
              let authorClass = ""
              let divClass = ""
              //verify that the user ID and the message sent ID is similar
              if (data.id === ID) {
                console.log("This person has sent a message")
                authorClass = "me"
                divClass = "myDiv"
              } else {
                authorClass = "you"
                divClass = "yourDiv"
              }
              const div = document.createElement("div")
              div.className = divClass
              const li = document.createElement("li")
              const p = document.createElement("p")
              div.innerHTML =
                '<p class="' +
                authorClass +
                '">' +
                data.data.user +
                ", " +
                moment().format("hh:mm A") +
                "</p>" +
                '<p class="message"> ' +
                data.data.value +
                "</p>"
              div.appendChild(p)
              li.appendChild(div)

              document.getElementById("messages").appendChild(li)

              window.scrollTo(0, document.body.scrollHeight) //scroll to the bottom
            }
          }
        })
      </script>
    </main>
    <!-- End #main -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>
  </body>
</html>
