<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Checkout Cart</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="css/checkout.css" rel="stylesheet">


</head>

<body>


    <div class="container">

        <!--progress bar-->
        <div class="form-progress">
            <progress class="form-progress-bar" min="0" max="100" value="0" step="33"
                aria-labelledby="form-progress-completion"></progress>

            <div class="form-progress-indicator one active"></div>
            <div class="form-progress-indicator two"></div>
        </div>


        <!--cart items details-->
               <div class="small-container cart-page">
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="">
                            <!--image of item added to cart--->
                            <div>
                                <p>Azilsartan</p>
                                <small>Price: $<spam class="med_price">10.00</spam></small>
                                <br>
                            </div>
                        </div>
                    </td>
                    <td> <input type="number" class="num" oninput="calc(0)" min="1" max="1000" value="1" /></td>
                    <td>$<span class="total" id="price1">10.00</span></td>
                    <td><button onclick="SomeDeleteRowFunction(this)">Remove</button></td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="">
                            <!--image of item added to cart--->
                            <div>
                                <p>Losartan</p>
                                <small>Price: $<spam class="med_price">8.00</spam></small>
                                <br>
                            </div>
                        </div>

                    </td>
                    <td> <input type="number" class="num" oninput="calc(1)" min="1" max="1000" value="1" /></td>
                    <td>$<span class="total" id="price2">8.00</span></td>
                    <td><button onclick="SomeDeleteRowFunction(this)">Remove</button></td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="">
                            <!--image of item added to cart--->
                            <div>
                                <p>Valsartan</p>
                                <small>Price: $<spam class="med_price">13.00</spam></small>
                                <br>
                            </div>
                        </div>

                    </td>
                    <td> <input type="number" class="num" oninput="calc(2)" min="1" max="1000" value="1" /></td>
                    <td>$<span class="total" id="price3">13.00</span></td>
                    <td><button onclick="SomeDeleteRowFunction(this)">Remove</button></td>
                </tr>
            </table>
            <div>

                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>$<span class="subtotal">0</span></td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>$19.50</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$169.50</td>
                    </tr>
                </table>

            </div>
            <div class="button">
                <button a href="Payment" class="submit">Continue</button>

            </div>
        </div>
        </body>
        <script>
    function calc(n) {
        var price = document.getElementsByClassName("med_price")[n].innerHTML;
        var quantity = document.getElementsByClassName("num")[n].value;
        var total = parseFloat(price) * quantity;
        if (!isNaN(total)) {
            document.getElementsByClassName("total")[n].innerHTML = total;

        }
    }
    function SomeDeleteRowFunction(o) {
        //no clue what to put here?
        var p = o.parentNode.parentNode;
        p.parentNode.removeChild(p);
    }
    </script>
</html>
